.create-education
{
    margin-top: -347px; 
    /* background-color: gainsboro; */
    margin-left: 500px;
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 6px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover
   {
    background-color: #008CBA;
    color: white;
  }