.create-about-me{
    margin-top: -347px; 
    /* background-color: gainsboro; */
    margin-left: 425px;
    /* width: 909px; */
    
}
.button {
    /* border: none; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  .button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 6px;
  }

  .button:hover {
    background-color: #008CBA;
    color: white;
  }

.form-control
{
  width: 720px;
  background-color: #ffff;
  height: 220px;
  border-radius: 10px;
}

.about_me label
{
  font-size: 20px;
  font-weight: 200;
  
}