.login {
    margin-top: -380px;
    margin-left: 450px;
    border: 2px solid #ac6767;
    padding: 20px 20px;
    background-color: burlywood;
    border-radius: 6px;
    
    width: 400px;
    height: 100px;

}