{% extends 'base.html' %}
{% load static %}
{% block profile %}
  <img src="{{profile.image.url}}">
    <h4>{{ profile.user.username }}</h4>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/experience.css' %}">
    <div class="experience">
        <div class="row">
            <div class="col-md-6">
                 {% for i in experience %}
                 {{ i.designation }} ( {{ i.from_date }} - {{ i.to_date }} ) </br>
                 {{ i.company_name }}</br>
                 {{ i.description }}
                 <h1></h1>
                 {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}